html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url("../images/background/background.jpg") repeat-x;
	background-color: rgb(123,185,41);
}

@font-face {
	font-family: bad_font;
	src: url('../fonts/bad_font.otf');
}

@font-face {
	font-family: bad_content_font;
	src: url('../fonts/carbon.ttf');
}

div.wrapper-head {
	overflow: hidden;
	position: relative;
	min-height: 160px;
	height: 15%;
	min-width: 1160px;
	width: 70%;
	top: 50px;
	margin: 0 auto;
	padding: 0;
}

div.wrapper-main {
	overflow: hidden;
	position: relative;
	min-height: 2080px;
	min-width: 1160px;
	width: 70%;
	top: 50px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0;
	border: 1px;
	border-radius: 15px;
}

div.wrapper-footer {
	overflow: hidden;
	position: relative;
	min-width: 1160px;
	width: 70%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	margin-bottom: 50px;
}

header {
	position: absolute;
	overflow: hidden;
	min-width: 400px;
	width: 30%;
	z-index: 1;
}
img#logo {
	display: inline;
	width: 340px;
	height: 150px;
}

nav {
	position: absolute;
	overflow: hidden;
	margin-top: 50px;
	left: 220px;
	min-width: 830px;
	width: 82%;
	height: 55%;
	z-index: 2;
}

ul#nav {
	list-style-type: none;
	padding: 0;
	padding-top: 18px;
	width: 98%;
	height: 52%;
	border: 1px solid;
	border-color: #FFFFFF;
	border-radius: 10px;
}

ul#nav li {
	float: left;
	height: 100%;
	width: 15%;
	padding-left: 22px;
	padding-right: 22px;
}
ul#nav li a:link, a:visited {
	color: #FFFFFF;
	display: block;
	font-family: bad_font;
	font-size: 30px;
	width: 100%;
	height: 100%;
	padding: 0 9px;
	text-align: center;
	text-decoration: none;
}

ul#nav li a:hover, a:active {
	color: rgb(58,132,49);
}

ul#footer {
	list-style-type: none;
	padding: 0;
	margin-top: 5px;
	width: 100%;
	height: 100%;
}

ul#footer li {
	float: right;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
ul#footer li a:link, a:visited {
	color: #FFFFFF;
	display: block;
	font-family: bad_font;
	font-size: 20px;
	width: 100%;
	height: 100%;
	padding: 0 9px;
	text-align: center;
	text-decoration: none;
}

ul#footer li a:hover, a:active {
	color: rgb(123,185,41);
}

div.wrapper-content-center {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
}

div.content {
	text-align: center;
	margin: 0 0 -30px 0;
	width: 100%;
	height: 100%;
	clear: both;
	font-family: bad_content_font;
	font-size: 30px;
	letter-spacing: 0.1em;
	line-height: 0em;
}
h2 {
	margin-top: 80px;
}
fieldset#criteria {
	font-family: bad_font;
	padding-top: 20px;
	margin-top: 80px;
	margin-left: 10%;
	margin-right: 10%;
}
legend#criteria {
	text-align: center;
}
fieldset#own_opinion {
	font-family: bad_font;
	padding-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}
legend#own_opinion {
	text-align: center;
}
input.slider_width {
	width: 80%;
}
span {
	font-family: Arial;
}
label {
	font-family: bad_content_font;
}
label.position {
	display: block;
	margin-bottom: 25px;
}
label.position2 {
	display: block;
	margin-bottom: 80px;
}
label#button {
	margin-top: 50px;
}

p {
	margin-bottom: 20px;
}
label#hot_not_input {
	font-size: 30px;
	display: block;
	margin-top: 60px;
	margin-bottom: 20px;
}
textarea.fixed {
	resize: none;
}

img#profile_picture {
	float: right;
}

input#hot {
	display: none;
}
input#hot + label span {
	display: inline-block;
	width: 120px;
	height: 120px;
	vertical-align: middle;
	background: url("../images/buttons/button_hot.jpg") no-repeat;
	cursor: pointer;
}
input#hot:checked + label span {
	vertical-align: middle;
	background: url("../images/buttons/button_hot_selected.jpg") no-repeat;
}

input#not {
	display: none;
}
input#not + label span {
	display: inline-block;
	width: 120px;
	height: 120px;
	vertical-align: middle;
	background: url("../images/buttons/button_not.jpg") no-repeat;
	cursor: pointer;
}
input#not:checked + label span {
	vertical-align: middle;
	background: url("../images/buttons/button_not_selected.jpg") no-repeat;
}

footer {
	overflow: hidden;
	height: 30px;
	background-color: rgb(58,132,49);
	width: 100%;
	border: 1px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

