html, body {
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	background: url("../images/background.jpg") repeat-x;
	background-color: rgb(123,185,41);
}

@font-face {
	font-family: bad_font;
	src: url('../fonts/bad_font.otf');
}

div.wrapper-head {
	overflow: hidden;
	position: relative;
	height: 160px;
	min-width:1160px;
	width: 70%;
	top:5%;
	margin: 0 auto;
	padding: 0;
}

div.wrapper-main {
	overflow: hidden;
	position: relative;
	min-height: 600px;
	height: 70%;
	min-width:1160px;
	width: 70%;
	top: 40px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0;
	border: 1px;
	border-radius: 15px;
}

div.header {
	position: absolute;
	overflow: hidden;
	min-width:400px;
	width: 30%;
	z-index:1;
}
img#logo {
	display: inline;
	width: 340px;
	height: 150px;
}

div.navigation {
	position:absolute;
	overflow: hidden;
	margin-top: 50px;
	left: 220px;
	min-width: 830px;
	width:82%;
	height: 55%;
	z-index: 2;
}

ul#nav {
	list-style-type: none;
	padding: 0;
	padding-top: 18px;
	width: 98%;
	height: 52%;
	border: 1px solid;
	border-color: #FFFFFF;
	border-radius: 10px;
}

ul#nav li {
	float: left;
	height: 100%;
	width: 15%;
	padding-left: 22px;
	padding-right: 22px;
}
ul#nav li a:link, a:visited {
	color: #FFFFFF;
	display: block;
	font-family: bad_font;
	font-size: 30px;
	width: 100%;
	height: 100%;
	padding: 0 9px;
	text-align:center;
	text-decoration: none;
}

ul#footer {
	list-style-type: none;
	padding: 0;
	margin-top: 5px;
	width: 100%;
	height: 100%;
}

ul#footer li {
	float: right;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
ul#footer li a:link, a:visited {
	color: #FFFFFF;
	display: block;
	font-family: bad_font;
	font-size: 20px;
	width: 100%;
	height: 100%;
	padding: 0 9px;
	text-align:center;
	text-decoration: none;
}

div.wrapper-content-center {
	position:relative;
	margin:0;
	width: 100%;
	height: 95.5%;
}

div.content {
	float:left;
	text-align: center;
	width: 100%;
	height: 100%;
}

div.footer {
	overflow: hidden;
	clear:both;
	height: 35px;
	background-color: rgb(58,132,49);
	width: 100%;
}

